@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

header.Header {
  padding:16px 8px 0;
  background-color: white;
  @media (min-width: 500px) {
    border-radius: 32px 32px 0 0;
  }

  .container {
    display: flex;
    justify-content: flex-start; // helps with small screens
    @media (min-width:400px) {
      justify-content: center;
    }
    align-items: center;

    .player-details {
      display: flex;
      flex-direction: column;
      align-self: flex-start;


      .username {
       
        color: #fff;
        background: #251231;
        padding: 0.2rem 1.5rem;
        margin: 0 0 1rem 1rem;
        border-radius: 3rem;
        font-size: 0.9rem;
        position: relative;
        width: max-content;
        // @media (min-width: 320px) {
        //   margin: 0 0 .2rem .2rem;
        // }        
        @media (min-width: 340px) {
          font-size: 0.9rem;
          
        }

        @media (min-width: 400px) {
          font-size: 1rem;
        }

        @media (min-width: 420px) {
          font-size: 1.5rem;
        }

        &:before {
          content: "";
          position: absolute;
          left: -4px;
          top: 21px;
          transform: rotate(-43deg);
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-right: 12px solid #251231;
          border-bottom: 9px solid transparent;

          @media (min-width: 420px) {
            left: -6px;
            top: 23px;
            border-top-width: 13px;
            border-right-width: 26px;
            border-bottom-width: 18px;
          }
        }
      }

      .points-location {
        display: flex;
        font-family: "Red Hat Display";
        font-weight: 900;

        & > div {
          margin-left: 0.5rem;
          @media (min-width: 380px) {
            margin-left: 16px;
          }
          display: flex;
          align-items: center;
          &:first-child {
            font-size: 1.2rem;
          }
          &:last-child {
            font-size: 1.3rem;
          }
        }

        .icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
    }
  }
}
