@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

header.Header {
  padding: 8px;
  padding-top: $pagePadding + 8;
  height: 30%;
  background-color: white;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #d2d2d2;
      margin-right: 16px;
    }

    .player-details {
      display: flex;
      flex-direction: column;

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        margin-top: 8px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: #e36060;

        span:nth-child(even) {
          color: #ff6d67;
        }
      }

      h2 {
        font-size: 1.25rem;
      }

      .points-location {
        margin-top: 8px;
        display: flex;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 800;

        & > div {
          margin-right: 8px;
          @media (min-width: 380px) {
            margin-right: 16px;
          }
          display: flex;
          align-items: center;
        }

        .icon {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
      }
    }
  }
}
