@import "../../sass/_mixins.scss";

.GameOver {
  @include page;
  padding: 0;
  background-image: url(../../images/small-mountains.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;

  @media (min-width: 800px) {
    min-height: calc(100vh - 12px);
  }

  .title {
    text-align: center;
  }

  header.Header {
    height: auto;
    margin-bottom: 32px;
  }

  .content {
    max-width: $contentMaxWidth;
    margin: auto;
    padding: 16px;
  }

  .score-table {
    width: 100%;

    .icon-cell {
      padding-right: 16px;
    }

    .icon {
      width: 32px;
      height: 32px;
    }

    .total {
      font-size: 32px;
      padding-left: 16px;
    }
  }
}
