@import "../../sass/_mixins.scss";

.GameOver {
  .message {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 16px;
  }

  .title {
    text-align: center;
  }

  .History {
    width: calc(100vw - 32px);
    margin: 16px;
    margin-top: 32px;
  }

  .score-table {
    width: 100%;

    .icon-cell {
      padding-right: 16px;
    }

    .icon {
      width: 32px;
      height: 32px;
    }

    .total {
      font-size: 32px;
      padding-left: 16px;
    }
  }
}
