@import "../../sass/_mixins.scss";

.GameOver {
  @include page;
  background-image: url(../../images/small-mountains.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;

  @media (min-width: 400px) {
    background-size: 350px;
  }

  .title {
    text-align: center;
  }

  header.Header {
    height: auto;
    margin-bottom: 32px;
  }

  .content {
    max-width: $contentMaxWidth;
    margin: auto;
  }

  .score-table {
    width: 100%;

    .icon-cell {
      padding-right: 16px;
    }

    .icon {
      width: 32px;
      height: 32px;
    }

    .total {
      font-size: 32px;
      padding-left: 16px;
    }
  }
}
