@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

.paused {
  .message {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 16px;
  }

  .History {
    width: calc(100% - 32px);
    margin: 16px;
    margin-top: 32px;
  }

  .table-container {
    background: white;
    border-radius: 8px;
    width: calc(100% - 32px);
    margin: 16px;
    overflow-y: scroll;

    table {
      width: 100%;
      border-spacing: 0;

      .center {
        text-align: center;
      }

      thead {
        th {
          border-bottom: 1px solid $purple;
          border-left: 1px solid $purple;
          font-weight: normal;
          padding: 4px 12px;
          position: sticky;
          top: 0;
          background: white;

          &:first-child {
            border-left: none;
            text-align: left;
          }
        }
      }

      tbody {
        font-family: "Red Hat Display";

        tr {
          &:nth-of-type(even) {
            background-color: lighten($purple, 5%);
          }

          td {
            padding: 4px 12px;
            border-left: 1px solid $purple;

            &:first-child {
              border-left: none;
            }
          }
        }
      }
    }
  }

  .Toast .Button {
    margin-top: 16px;
  }
}
