@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

main.MainContent {
  position: relative;
  background-color: #aedcdd;
  display: flex;

  .mountains {
    position: absolute;
    width: 100%;
    background:#fff url(../../images/small-mountains.svg) bottom center no-repeat;
    background-size: contain;
    height: 83px;

    @media (min-width: 360px) {
      height: 90px;
    }
    @media (min-width: 376px) {
      height: 117px;
    }
    
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      background-color: #aedcdd;
    }
  }

  .content {
    position: relative;
    max-width: $contentMaxWidth;
    margin: 0 auto;
    padding-top: 70px;
    @media (min-width: 400px){
      padding-top:100px;
    }
    // padding-top: 12vh;
    // // @media (min-width: 360px){
    // //   padding-top: 10vh;
    // // }
    // @media (min-width: 380px){
    //   padding-top: 15vh;
    // }
    // @media (min-width:700px) {
    //   padding-top: 100px;
    // }
    
    padding-bottom: 16px;
  }
}
