@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

main.MainContent {
  position: relative;
  background-color: $purple;
  display: flex;
  height: 100%;

  .mountains {
    position: absolute;
    width: 100%;
    background-image: url(../../images/small-mountains.svg);
    background-repeat: repeat-x;
    background-color: white;
    height: 96px;

    @media (min-width: 756px) {
      height: 192px;
    }
  }

  .content {
    position: relative;
    max-width: $contentMaxWidth;
    margin: auto;
    @include center-content;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
