@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

.main {
  .MainContent .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
      position: relative;
      width: 200px;
      height: 175px;
      margin-bottom: 32px;

      .image-square {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        min-width: 200px;
        min-height: 200px;
        background: white;
        border-radius: 24px;
      }

      img {
        position: absolute;
        z-index: 2;
        pointer-events: none;
      }
    }
    .image-0 {
      max-width: 265px;
      top: 25px;
      left: -32px;
    }

    .image-1 {
      max-width:225px;
      top:-75px;
      left: -15px;
    }
    .image-2 {
      max-width:170px;
      top:-45px;
      left:15px;
    }
    .image-3 {
      max-width:240px;
      top:-145px;
      left:-17px;
    }
    .image-4 {
      max-width:280px;
      top:30px;
      left:-38px;
    }
    .image-5 {
      max-width:230px;
      top:-80px;
      left:-17px;
    }
    .image-6 {
      max-width:250px;
      top:-40px;
      left:-35px;
    }
    .image-7 {
      max-width:240px;
      top:-85px;
      left:-20px;
    }
    .image-8 {
      max-width:205px;
      top:-95px;
      left:-4px;
    }
    .image-9 {
      max-width:225px;
      top:-50px;
      left:-12px;
    }
    .image-10 {
      max-width:217px;
      top:-55px;
      left:-8px;
    }
    .image-11 {
      max-width:265px;
      top:35px;
      left:-30px;
    }
    .image-12 {
      max-width:225px;
      top:-75px;
      left:-5px;
    }
    .image-13 {
      max-width:260px;
      top:-45px;
      left:-18px;
    }
    .image-14 {
      max-width:180px;
      top:-85px;
      left:15px;
    }
    .image-15 {
      max-width:240px;
      top:-65px;
      left:-15px;
    }
    .image-16 {
      max-width: 85px;
      top: 0px;
      left: 60px;
    }
    .image-17 {
      max-width:225px;
      top:15px;
      left:-12px;
    }
    .image-18 {
      max-width:200px;
      top:-95px;
      left: 0px;
    }
    .image-19 {
      max-width:300px;
      top:15px;
      left:-45px;
    }


    .dropzone {
      @include bordered-guess;
      &:nth-child(odd) {
        .choice .bg {
          transform: skew(3deg);
        }
        .number {
          transform: skew(-3deg);
        }
      }
      &:nth-child(even) {
        .choice .bg {
          transform: skew(-3deg);
        }
        .number {
          transform: skew(3deg);
        }
      }
    }

    .number-input {
      @include number-input;
    }

    .choices,
    .number-input {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      outline: none;

      .decimal {
        align-self: flex-end;
        position: relative;
        left: 4px;

        @media (min-width: 345px) {
          left: 8px;
        }
      }

      .bg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        border-radius: 0.5rem;
        background-color: #f79a3f;
        color: white;
        font-size: 2.5rem;
        text-shadow: 1px 1px 0px #e0700a;
        padding-bottom: 6px;
        box-shadow: -1px 3px 0px #e0700a, -2px 6px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 200ms ease-in-out;


      }


      .draggable-mirror {
        z-index: 1;
      }

      .draggable-mirror .bg {
        transform: skew(3deg) scale(2);
      }
    }

    @include correct-guess;
    @include incorrect-guess;

    .help {
      background-image: url(../../images/help-button.svg);
      background-size: cover;
      border: none;
      -webkit-appearance: none;
      height: 48px;
      width: 100px;
    }
  }
}
