@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

.main {
  @include page-layout;

  .MainContent .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
      background: white;
      width: 175px;
      height: 175px;
      border-radius: 24px;
      margin-bottom: 24px;
      padding: 16px;

      .image-background {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .dropzone {
      width: 48px;
      height: 48px;
      background-image: url(../../images/border.svg);
      margin: 6px;
    }

    .number-input {
      display: flex;

      .guess {
        height: 48px;
        width: 48px;
        background-image: url(../../images/border.svg);
        margin: 6px;
      }
    }

    .choices,
    .number-input {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      outline: none;

      .decimal {
        margin-top: 35px;
      }

      .bg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        border-radius: 0.5rem;
        background-color: #7ae6ff;
        color: white;
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px #551e70;
        padding-bottom: 6px;
        box-shadow: -1px 3px 0px #25c8e0, -2px 6px 10px rgba(0, 0, 0, 0.1);
        transform: skew(5deg);
        cursor: pointer;
        transition: transform 200ms ease-in-out;

        .number {
          transform: skew(-5deg);
        }
      }

      .draggable-mirror {
        z-index: 1;
      }

      .draggable-mirror .bg {
        transform: skew(5deg) scale(2);
      }
    }

    .number-input .correct .bg {
      background-color: #63e07c;
      box-shadow: -1px 3px 0px #44aa55, -2px 6px 10px rgba(0, 0, 0, 0.1);
    }

    .number-input .incorrect .bg {
      background-color: #ff3d3e;
      box-shadow: -1px 3px 0px #b72c2c, -2px 6px 10px rgba(0, 0, 0, 0.1);
    }

    .help {
      background-image: url(../../images/help-button.svg);
      background-size: cover;
      border: none;
      -webkit-appearance: none;
      height: 48px;
      width: 100px;
    }
  }

  .toast {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(99, 224, 124, 0.95);
    text-shadow: 4px 4px 1px #4eaf5d;
    font-size: 2rem;
    color: white;
    padding: 16px;
    text-align: center;
    transition: transform 200ms ease-in-out;
    transform: translate3d(0, -100%, 0);

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
}
