@import "../../sass/_variables.scss";

.History {
  background: white;
  border-radius: 8px;

  table {
    width: 100%;
    border-spacing: 0;

    .center {
      text-align: center;
    }

    thead {
      th {
        border-bottom: 1px solid $purple;
        border-left: 1px solid $purple;
        font-weight: normal;
        padding: 4px 12px;
        position: sticky;
        top: 0;
        background: white;

        &:first-child {
          border-left: none;
          text-align: left;
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
        }
      }
    }

    tbody {
      font-family: "Red Hat Display";

      tr {
        &:nth-of-type(even) {
          background-color: lighten($purple, 5%);
        }

        td {
          padding: 4px 12px;
          border-left: 1px solid $purple;

          &:first-child {
            border-left: none;
          }
        }

        &.last {
          background: #251231;

          td {
            border: 0;
            padding-top: 12px;
            padding-bottom: 12px;
            color: #f79a3f;

            &:first-child {
              border-left: 0;
              border-bottom-left-radius: 8px;
            }

            &:last-child {
              border-bottom-right-radius: 8px;
              border-right: 0;
            }
          }
        }
      }
    }
  }
}
