html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Sigmar One", "Helvetica", "Arial", sans-serif;
  color: #251231;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  background: #aedcdd;
}

#root {
  margin: auto;
  max-width: 500px;
  @media (min-width: 500px) {
    border: none;
    border-radius: 32px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    margin-top: 32px;
    box-shadow: 0 6px 5px rgba(47, 143, 142, 0.1), 0 0 52px rgba(47,143, 142, .6);
  }
}
