@import "../../sass/_mixins.scss";

.lobby {
  min-height: 75vh;
  position: relative;
  overflow: hidden;
  background: #fff;

  @media (min-width: 500px) {
    border-radius: 32px;
  }

  .avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
    @media (min-width:600px) {
      top: 10vh;
    }
    left: 1rem;
    @media (min-width: 380px){
      left: 2rem;
    }
    animation-name: moveAvatar;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    transform: translateY(-200%);

    .Avatar {
      width: 175px;
      height: 175px;

      & > div {
        width: 175px;
        height: 175px;
      }
    }

    .speechBubble {
      width: 100px;
      height: 100px;
      background: #251231;
      color: white;
      text-transform: lowercase;
      border-radius: 100px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -72px;

      &::after {
        content: "";
        position: absolute;
        left: 3px;
        bottom: 6px;
        transform: rotate(-43deg);
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-right: 12px solid #251231;
        border-bottom: 9px solid transparent;
      }

      h1 {
        font-size: 1.1rem;
        line-height: 1.2rem;
        margin: 0;
      }
    }
  }

  .messageContainer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 5vh;
    padding: 0 16px;
    animation-name: moveMessage;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

    @media(min-width: 340px) {
      padding: 0 32px;
    }
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 95%;
    top: 18%;
    z-index: 0;
    animation-name: moveIn;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

    svg {
      position: absolute;
      display: block;
      width: 100%;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      background: #aedcdd;
      top: 73px;
      left: 0;
      bottom: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    @media (min-width: 340px) {
      top: 85px;
    }
  }

  @keyframes moveAvatar {
    from {
      transform: translateY(-200%);
    }

    to {
      transform: translateY(50%);
    }
  }

  @keyframes moveIn {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(50%);
    }
  }

  @keyframes moveMessage {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(90%);
    }
  }
}
