@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

.bonus {
  @include page-layout;

  canvas {
    margin-bottom: 32px;
  }

  #hidden-img {
    display: none;
  }

  .number-input {
    @include number-input;
    margin-bottom: 16px;
  }

  .image {
    width: 100px;
    height: 100px;

    .image-background {
      width: 80px;
      height: 80px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @include correct-guess;
  @include incorrect-guess;
}
