@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

.bonus {
  main.MainContent .content {
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  canvas {
    margin-bottom: 32px;
  }

  .decimal {
    position: relative;
    left: 8px;
  }

  #hidden-img {
    display: none;
  }
  .number-input {
    display: flex;
    margin: 0 0 8px;
    align-items: flex-end;
    h2{
      font-size: 3rem;
      margin: 0 1rem 0 0;
      line-height: 2.8rem;
    }

    .guess {
      @include bordered-guess;

      &.focus {
        background-image: url(../../images/border-animated.svg);
      }
    }


    .bg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 48px;
      border-radius: 0.5rem;
      background-color: #f79a3f;
      color: white;
      font-size: 2.5rem;
      text-shadow: 1px 1px 2px #551e70;
      padding-bottom: 6px;
      box-shadow: -1px 3px 0px #e0700a, -2px 6px 10px rgba(0, 0, 0, 0.1);
      transform: skew(5deg);
      cursor: pointer;
      transition: transform 200ms ease-in-out;

      .number {
        transform: skew(-5deg);
      }
    }
  }

  .image {
    display:flex;
    width: 90px;
    height: 90px;

    img {
      width: 100%;
      position: relative;
      
    }
    .image-0 {
      top: 34px;
      left: 10px;
    }
    .image-1 {
      top: 5px;
    }
    .image-2 {
      top: 0px;
      left: -10px;
      width: 110px;
      height: 115px;
    }
    .image-3 {
      top: -15px;
      width: 110px;
      height: 115px;
      left: -10px;  
    }
    .image-4 {
      top:0px;
      left: 5px;
    }
    .image-5 {
      top: -5px;
      left: -5px;
      width: 110px;
      height: 115px;
    }
    .image-6 {
      top: 25px;
      left: 10px;
    }
    .image-7 {
      top: 9px;
      left: 10px;
    }
    .image-8 {
      top: -20px;
      left: 0px;
      width: 110px;
      height: 115px;
    }
    .image-9 {
      top: -15px;
      left: -5px;
      width: 110px;
      height: 115px;
    }
    .image-10 {
      top: -10px;
      left: 0px;
      width: 110px;
      height: 115px;
    }
    .image-11 {
      top: 15px;
      left: 5px;
      width: 100px;
      height: 110px;
    }
    .image-12 {
      top: -15px;
      left: -5px;
      width: 100px;
      height: 115px;
    }
    .image-13 {
      top: 30px;
      left: 5px;
    }
    .image-14 {
      top: -13px;
      left: -13px;
      width: 110px;
      height: 115px;
    }
    .image-15 {
      top: 0px;
      left: 0px;
      width: 110px;
      height: 115px;
    }
    .image-16 {
      top: -5px;
      left: -20px;
      width: 110px;
      height: 115px;
    }
    .image-17 {
      top: 20px;
      left: 10px;
    }
    .image-18 {
      top: -15px;
    width: 110px;
    height: 115px;
    }
    .image-19 {
      top: 5px;
    left: 12px;
    width: 110px;
    height: 115px;
    }

    .image-background {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  @include correct-guess;
  @include incorrect-guess;

  .guess.empty {
    opacity: 0.25;
  }

  .guess.focus {
    opacity: 1;
  }

  .hint {
    font-family: "Red Hat Display";
    font-weight: bold;
    margin-bottom: 8px;
    @media (min-width: 375px){
      margin:24px 0;
    }
  }
  canvas {
    border-radius: 10px;
  }
  .canvas-container {
    position: relative;
    width: 281px;
    height: 281px;
    margin-bottom: 16px;

    .canvas-border {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      pointer-events: none;
    }
  }
}
