@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

.bonus {
  @include page-layout;

  canvas {
    margin-bottom: 32px;
  }

  #hidden-img {
    display: none;
  }

  .number-input {
    @include number-input;
  }

  .image {
    width: 100px;
    height: 100px;

    .image-background {
      width: 80px;
      height: 80px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @include correct-guess;
  @include incorrect-guess;

  .guess.empty {
    opacity: 0.25;
  }

  .guess.focus {
    opacity: 1;
  }

  .hint {
    font-family: "Red Hat Display";
    font-weight: bold;
  }

  .canvas-container {
    position: relative;
    width: 281px;
    height: 281px;
    margin-bottom: 16px;

    .canvas-border {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      border: 16px double #e2e2ed;
      pointer-events: none;
    }
  }
}
