@import "_variables.scss";

@mixin page {
  padding: $pagePadding;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin page-layout {
  display: flex;
  flex-direction: column;
  background-color: #aedcdd;
  min-height: 100vh;

  @media (min-width: 800px) {
    min-height: calc(100vh - 12px);
  }
}

@mixin number-input {
  display: flex;
  margin: 1.5rem 0;
  align-items: center;
  h2{
    font-size: 3rem;
    margin: 0 1rem 0 0;
    line-height: 0;
  }

  .guess {
    @include bordered-guess;

    &.focus {
      background-image: url(../images/border-animated.svg);
    }
  }


  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 0.5rem;
    background-color: #f79a3f;
    color: white;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #551e70;
    padding-bottom: 6px;
    box-shadow: -1px 3px 0px #e0700a, -2px 6px 10px rgba(0, 0, 0, 0.1);
    transform: skew(5deg);
    cursor: pointer;
    transition: transform 200ms ease-in-out;

    .number {
      transform: skew(-5deg);
    }
  }
}

@mixin bordered-guess {
  height: 48px;
  width: 48px;
  background-image: url(../images/border.svg);
  &:not(:first-of-type) {
    margin-left: 16px;
  }
}

@mixin correct-guess {
  .number-input .correct .bg {
    background-color: #24c655;
    text-shadow: 1px 1px 0px #188434;
    box-shadow: -1px 3px 0px #188434, -2px 6px 10px rgba(0, 0, 0, 0.1);
  }
}

@mixin incorrect-guess {
  .number-input .incorrect .bg {
    background-color: #ff3d3e;
    box-shadow: -1px 3px 0px #b72c2c, -2px 6px 10px rgba(0, 0, 0, 0.1);
  }
}
