@import "_variables.scss";

@mixin page {
  height: 100%;
  padding: $pagePadding;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin page-layout {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  height: 100%;
}
